{{/* Altmetric badges */}}
<script> type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js' </script>

{{/* Dimension badges */}}
<script> async src="https://badge.dimensions.ai/badge.js" charset="utf-8" </script>

{{/* Add Altmetric and Dimension badges */}}

  <div class="ml-3">
  {{ if and .Params.add_badge .Params.doi }}
    <div data-badge-popover="left" data-badge-type="donut" data-doi="{{ .Params.doi }}" data-condensed="true" class="altmetric-embed" data-link-target='_blank' rel="noopener noreferrer"></div>
    <div class="__dimensions_badge_embed__" data-doi="{{ .Params.doi }}" data-legend="hover-left" data-style="small_circle" rel="noopener noreferrer"></div>
  {{ end }}
  </div>

</div>
